body {
    font-family: 'Vazirmatn', sans-serif;
    color: #343a40;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, 
        rgba(0, 255, 191, 0.651), 
        rgba(174, 0, 255, 0.568), 
        rgba(255, 166, 0, 0.692));
    background-size: 300%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* login form */
form {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    color: #333;
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
    transition: border-color 0.3s ease;
    font-family: 'Vazir', sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0056b3;
}

/* Placeholder styles */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
    font-family: 'Vazir', sans-serif;
    font-size: 16px;
    opacity: 1; /* For older browsers */
    transition: all 0.5s ease;
    position: relative;
    animation: placeholderAnimation 2s infinite ease-in-out;
}

@keyframes placeholderAnimation {
    0% { transform: translateX(0); opacity: 0.5; }
    50% { transform: translateX(10px); opacity: 1; }
    100% { transform: translateX(0); opacity: 0.5; }
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: #0056b3;
    animation: none;
    opacity: 0.5;
}

input[type="submit"] {
    font-family: "vazirmatn";
    width: 80%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0057b393;
}